body {
    font-family: 'Tahoma';
}

.heading {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 83px;
}
.heading h1 {
    color: #333333;
    font-size: 24pt;
}

.box {
    color: #333333;
    text-align: center;
    margin-right: 33px;
    margin-left: 33px;
}
.box__img {
    height: 80px;
}