body {
    background-color: rgb(239, 241, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: rgba(7, 7, 7, 0.158);
}

.general, .information {
    padding-top: 20px;
}

.general {
    /* background-color: rgba(7, 7, 7, 0.082);
    height: 100%;
    padding: 1%; */
}

.general__contact {
    padding: 20px 10%;
}

.general__contact p {
    text-align: center;
}

.general__img {
    width: 100%;
}

.information {
    /* background-color: rgba(7, 7, 7, 0.082); */
    /* padding: 2%; */
}

.information_block {
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    /* word-wrap: break-word; */
}

.information_block__name {
    word-wrap: break-word;
}

.information_block__content {
    position: relative;
}

.information_block__content__year {
    position: absolute;
    top: 36%;
    left: -15px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}